{% extends "base.html" %}
{% block content %}

	<!-- login-page -->
	<div class="login">
		<div class="login-grids">
			<div class="col-md-6 log">
					 <h3 class="tittle">登录<i class="glyphicon glyphicon-lock"></i></h3>
					 <p>请输入账号密码</p>
{#					 <p>If you have previously Login with us, <a href="#">click here</a></p>#}
					 <form action="{% url 'login' "/" %}" method="post">
						 <h5>用户名:</h5>
						 <input id="username" type="text" name="username" value="{{ username }}"><br/>
						 <h5>密码:</h5>
						 <input id="password" type="password" name="password" value="{{ password }}"><br/>
						 <input type="submit" value="登录">
						  
					 </form>
					<a href="#">Forgot Password ?</a>
			</div>
			<div class="col-md-6 login-right">
					 <h3 class="tittle">新用户 <i class="glyphicon glyphicon-file"></i></h3>
					<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
					<a href="registration.html" class="hvr-bounce-to-bottom button">Create An Account</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- //login-page -->
			<div class="clearfix"> </div>
	<!--/footer-->

{% endblock %}